<a href="https://colab.research.google.com/github/leticiamchd/Notebooks/blob/main/disney_data_show%26movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise dos Dados da Disney+ 

Este caderno vai ser utilizado para tentar resolver uma dúvida que tive durante a Live da Staart, do dia 19/05 com a Thaissa Candella e Rafael Yamagata. Além de servir como exercício, já que quero resolver essa questão apenas com os conhecimentos que adquiri até agora. 

**Qual a dúvida?** A correlação entre os gêneros e as notas do IMDB

***Para tentar chegar a resposta, adotei alguns critérios de inclusão:***
1. Apenas filmes
2. Ter sido pontuado no IMDB
3. Gêneros precisam estar descritos

*Os que não respeitaram os 3 critérios, a linha inteira foi removida.*

---

Dataset original: https://www.kaggle.com/datasets/victorsoeiro/disney-tv-shows-and-movies

---

## Limpeza dos Dados

1. Excluídos as seguintes colunas por não possuírem utilidade para esta análise: *id ; description ; age_certification ; production_countries ; seasons ; imdb_id ; tmdb_popularity ; tmdb_score*
2. Filtrado as colunas para a procura de espaços em branco, e posteriromente excluídas essas linhas 
3. Criado novas colunas para separar as variáveis de gênero, já que estavam todas reunidas numa mesma coluna. Essa separação foi feita através da função REGEXEXTRAC, extraindo o nome exato do gênero. Provavelmente deve haver uma maneira mais fácil de realizar esse desmembramento, porém foi dessa maneira que consegui realizar, já que tente com a função SPLIT e MID, e não consegui o resultado desejado. 
4. Foi criado novas colunas para mudar o tipo de variável da coluna imdb_score, já que as variáveis estavam como se fossem data.

Dataset após limpeza: https://docs.google.com/spreadsheets/d/1lgrPR2MERMXfHwpaUj45MnkOHIFSIp9y_tQ3akAixWw/edit?usp=sharing

---

## Análise dos Dados 

1. Para chegar na relação entre gêneros dos filmes e notas do IMDB, pensei em descobrir a média da nota de cada gênero. Como o há a possibilidade de vários gêneros em apenas um filme, a função REGEXEXTRAC ajudou a mapear em quais filmes um determinado gênero aparecia, e assim, ao usar a função AVERAGEIF, conseguir saber a média das notas do IMDB apenas quando um gênero espeífico estava presente 

No final, acabei chegando a resposta que eu queria encontrar, apenas utilizando o spreadsheets. Como a intenção também é utilizar aqui para poder praticar, irei tentar realizar essa análise aqui. Porém mantive no arquivo csv, a análise completa.

In [1]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving disney_data_cleaned - titles.csv to disney_data_cleaned - titles.csv

In [4]:
import io
df = pd.read_csv(io.BytesIO(uploaded['disney_data_cleaned - titles.csv'])) 
print(df)

                                      title   type  release_year  runtime  \
0                                  Fantasia  MOVIE          1940      120
1           Snow White and the Seven Dwarfs  MOVIE          1937       83
2                                 Pinocchio  MOVIE          1940       88
3                                     Bambi  MOVIE          1942       70
4                           Treasure Island  MOVIE          1950       96
..                                      ...    ...           ...      ...
738                             Shark Gangs  MOVIE          2021       44
739                            Own the Room  MOVIE          2021       91
740  Built for Mars: The Perseverance Rover  MOVIE          2021       88
741           Killer Shark vs. Killer Whale  MOVIE          2021       44
742                   Far From Raven's Home  MOVIE          2021       11

    reality  documentation  music western  family  fantasy  ... european  \
0       NaN            NaN  music     NaN  family  fantasy  ...      NaN
1       NaN            NaN    NaN     NaN  family  fantasy  ...      NaN
2       NaN            NaN    NaN     NaN  family  fantasy  ...      NaN
3       NaN            NaN    NaN     NaN  family      NaN  ...      NaN
4       NaN            NaN    NaN     NaN  family      NaN  ...      NaN
..      ...            ...    ...     ...     ...      ...  ...      ...
738     NaN  documentation    NaN     NaN     NaN      NaN  ...      NaN
739     NaN  documentation    NaN     NaN     NaN      NaN  ...      NaN
740     NaN  documentation    NaN     NaN     NaN      NaN  ...      NaN
741     NaN  documentation    NaN     NaN     NaN      NaN  ...      NaN
742     NaN            NaN    NaN     NaN     NaN      NaN  ...      NaN

    horror  Unnamed: 21                                             genres  \
0      NaN  7,687668255        ['animation', 'family', 'music', 'fantasy']
1      NaN  7,687668255  ['fantasy', 'family', 'romance', 'animation', ...
2      NaN  7,565284682       ['animation', 'comedy', 'family', 'fantasy']
3      NaN          NaN                   ['animation', 'drama', 'family']
4      NaN          NaN                               ['family', 'action']
..     ...          ...                                                ...
738    NaN          NaN                                  ['documentation']
739    NaN          NaN                                  ['documentation']
740    NaN          NaN                                  ['documentation']
741    NaN          NaN                                  ['documentation']
742    NaN          NaN                            ['animation', 'comedy']

    imdb_votes Unnamed: 24 Unnamed: 25 imdb_votes.1 Unnamed: 27 Unnamed: 28
0          7.7   44.749,00        7,70      94681.0     Reality        7,69
1          7.6   44.719,00        7,69     195321.0     History        7,68
2          7.5   44.688,00        7,69     141937.0    European        7,67
3          7.3   44.627,00        7,68     140406.0      Action        7,63
4          6.9   44.810,00        7,71       8229.0   Animation        7,62
..         ...         ...         ...          ...         ...         ...
738        6.6   44.718,00        7,69         28.0         NaN         NaN
739        6.5   44.687,00        7,69        223.0         NaN         NaN
740        6.9   44.810,00        7,71         54.0         NaN         NaN
741        6.4   44.657,00        7,68         17.0         NaN         NaN
742        5.6   44.717,00        7,69          8.0         NaN         NaN

[743 rows x 29 columns]

In [5]:
df.head()

,title,type,release_year,runtime,reality,documentation,music,western,family,fantasy,...,european,horror,Unnamed: 21,genres,imdb_votes,Unnamed: 24,Unnamed: 25,imdb_votes.1,Unnamed: 27,Unnamed: 28
0,Fantasia,MOVIE,1940,120,NaN,NaN,music,NaN,family,fantasy,...,NaN,NaN,"7,687668255","['animation', 'family', 'music', 'fantasy']",7.7,"44.749,00","7,70",94681.0,Reality,"7,69"
1,Snow White and the Seven Dwarfs,MOVIE,1937,83,NaN,NaN,NaN,NaN,family,fantasy,...,NaN,NaN,"7,687668255","['fantasy', 'family', 'romance', 'animation', ...",7.6,"44.719,00","7,69",195321.0,History,"7,68"
2,Pinocchio,MOVIE,1940,88,NaN,NaN,NaN,NaN,family,fantasy,...,NaN,NaN,"7,565284682","['animation', 'comedy', 'family', 'fantasy']",7.5,"44.688,00","7,69",141937.0,European,"7,67"
3,Bambi,MOVIE,1942,70,NaN,NaN,NaN,NaN,family,NaN,...,NaN,NaN,NaN,"['animation', 'drama', 'family']",7.3,"44.627,00","7,68",140406.0,Action,"7,63"
4,Treasure Island,MOVIE,1950,96,NaN,NaN,NaN,NaN,family,NaN,...,NaN,NaN,NaN,"['family', 'action']",6.9,"44.810,00","7,71",8229.0,Animation,"7,62"

In [10]:
df.head()

,title,type,release_year,runtime,reality,documentation,music,western,family,fantasy,...,european,horror,Unnamed: 21,genres,imdb_votes,Unnamed: 24,Unnamed: 25,imdb_votes.1,Unnamed: 27,Unnamed: 28
0,Fantasia,MOVIE,1940,120,NaN,NaN,music,NaN,family,fantasy,...,NaN,NaN,"7,687668255","['animation', 'family', 'music', 'fantasy']",7.7,"44.749,00","7,70",94681.0,Reality,"7,69"
1,Snow White and the Seven Dwarfs,MOVIE,1937,83,NaN,NaN,NaN,NaN,family,fantasy,...,NaN,NaN,"7,687668255","['fantasy', 'family', 'romance', 'animation', ...",7.6,"44.719,00","7,69",195321.0,History,"7,68"
2,Pinocchio,MOVIE,1940,88,NaN,NaN,NaN,NaN,family,fantasy,...,NaN,NaN,"7,565284682","['animation', 'comedy', 'family', 'fantasy']",7.5,"44.688,00","7,69",141937.0,European,"7,67"
3,Bambi,MOVIE,1942,70,NaN,NaN,NaN,NaN,family,NaN,...,NaN,NaN,NaN,"['animation', 'drama', 'family']",7.3,"44.627,00","7,68",140406.0,Action,"7,63"
4,Treasure Island,MOVIE,1950,96,NaN,NaN,NaN,NaN,family,NaN,...,NaN,NaN,NaN,"['family', 'action']",6.9,"44.810,00","7,71",8229.0,Animation,"7,62"

In [20]:
df.reality.head(10)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: reality, dtype: object